*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero-text{
    top: 200px;
    left: 100px;
}

.hero-slide-sm img{
    width: 250px;
    border-radius: 10px;
    transition: 350ms;
}

.hero-slide-sm img:hover{
    transform: translateY(-10px);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
