@font-face {
    font-family: 'Montserrat', sans-serif;
    src:  url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,800;1,300;1,400;1,500;1,600;1,800&display=swap');
    /*src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');*/
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.min-vh-90{
    min-height: 90vh!important;
}

.min-vh-60{
    min-height: 60vh!important;
}

.min-vh-68{
    min-height: 68vh!important;
}

.min-vh-75{
    min-height: 75vh!important;
}

.min-vh-50{
    min-height: 45vh!important;
}

/* .swiper-button-next,
.swiper-button-prev {
    transition: 250ms ease;
    transform: scale(.5);
    background-color: white;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    right:10px;
    padding: 50px;
    color: #000 !important;
    fill: black !important;
    stroke: black !important;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    transform: scale(.5);
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.8);
    outline: 4px solid white;
    outline-offset: 5px;
} */


/*.swiper-button-next,*/
/*.swiper-button-prev {*/
/*    transition: 250ms ease;*/
/*    transform: scale(.5);*/
/*    background-color: #0070cc;*/
/*    background-color: hwb(256 41% 26% / 0.845);*/
/*    border-radius: 50%;*/
/*    right:10px;*/
/*    padding: 50px;*/
/*    color: #000 !important;*/
/*    fill: black !important;*/
/*    stroke: black !important;*/
/*}*/

/*.swiper-button-next:hover,*/
/*.swiper-button-prev:hover {*/
/*    transform: scale(.5);*/
/*    background-color: #0070ccc2;*/
/*    background-color: hwb(256 41% 26% / 0.845);*/
/*    outline: 4px solid white;*/
/*    outline-offset: 5px;*/
/*}*/

/* target the active bullet */
span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #0070cc;
    opacity: 1;
  }
  
  /* target all bullets */
  .swiper-pagination-bullet {
    background-color: #d63d00;
    opacity: 1;
  }

.swiper{
    width:100%
}

.swiper1{
    width: 100%;
}

.swiper3{
    width: 100%;
    height: 545px;
}

.hero-text{
    top: 170px;
    left: 100px;
}

.hero-text-rollerdrome{
    top: 160px;
    left: 100px;
}

.hero-text-hogwarts{
    top: 125px;
    left: 100px;
}

.hero-text-callOfDuty{
    top: 165px;
    left: 100px;
}

.hero-text-spiderman{
    top: 65px;
    left: 100px;
}

.hero-text-godOfWar{
    top: 130px;
    left: 100px;
}

.hero-text-ps-plus{
    top: 150px;
    left: 100px;
}


.hero-slide-sm img{
    width: 200px;
    border-radius: 10px;
    transition: 350ms;
}

.hero-slide-sm img:hover{
    transform: translateY(-10px);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.second-slide-sm img{
    width: 190px;
    height: 190px;
    border-radius: 10px;
    transition: 350ms;
    object-fit: cover;
    object-position: center;
}

.second-slide-sm img:hover{
    transform: translateY(-10px);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
    border: 2px solid var(--bs-primary);
}

#thisMonth{
    background-image: url("https://gmedia.playstation.com/is/image/SIEPDC/this-month-on-playstation-aug-homepage-background-desktop-01-25jul22$en?$2400px$") ;
    background-color: #252550;
    background-repeat: no-repeat;
    background-size: contain;
}

#thisMonth img{
    width: 380px!important;
    transition: 450ms;
}

#thisMonth img:hover{
    transform: scale(1.03);
    box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 15px;
}

#thisMonth2 .text{
    top: 80px;
}

.swiper4 img{
    transition: 350ms ease;
}

.swiper4 img:hover{
    transform: scale(1.03);
}

#owl-newReleases-oneMobile img,
#owl-comingSoon-oneMobile img{
    transition: 350ms ease;
}

#owl-newReleases-oneMobile img:hover,
#owl-comingSoon-oneMobile img:hover{
    transform: scale(1.04);
}

#owl-newReleases-two img{
    transition: 350ms ease;
}

#owl-newReleases-two img:hover{
    transform: scale(1.03);
}

.ps4Card img{
    transition: 450ms linear;
}

.ps4Card:hover img{
    transform: scale(.95);
}

#PlayStationPlus{
    background-image: url(https://gmedia.playstation.com/is/image/SIEPDC/ps-plus-monthly-games-banner-desktop-01-en-27may22?$2400px$);
    background-size: cover;
}

.psStoreImg{
    transition: 400ms ease;
}

.psStoreImg:hover img{
    transform: scale(1.025);
}

#PlayStationGear{
    background-image: url(https://gmedia.playstation.com/is/image/SIEPDC/ps-gear-evergreen-background-block-desktop-01-en-27may22?$2400px$);
    background-size: contain;
    background-color: #1f1f1f;
    background-repeat: no-repeat;
}

.gearCard img{
    transition: 450ms linear;
}

.gearCard:hover img{
    transform: scale(1.02);
}

.productCard{
    margin: 10px;
    /*border: 1px solid black;*/
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    border-radius: 1rem;
}

.productCard p{
    font-size: 12px;
}

.productCard:hover{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.productCard .firstImg{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /*box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;*/
}

.productCard:hover .firstImg{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 14px 28px;
    /*box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;*/
}

#socialMedia img{
    transition: 450ms ease;
}

#socialMedia img:hover{
    transform: scale(1.04);
}

#footer{
    background: #00439c;
    /*min-height: 60vh;*/
}

@media screen and (max-width: 560px) {
    .hero-text-rollerdrome{
        text-align: center;
        top: 320px;
        left: 0px;
    }

    .hero-text-hogwarts{
        text-align: center;
        top: 305px;
        left: 0px;
    }

    .hero-text-ps-plus{
        text-align: center;
        top: 310px;
        left: 0px;
    }

    .hero-text-callOfDuty{
        text-align: center;
        top: 320px;
        left: 0px;
    }

    .hero-text-godOfWar{
        text-align: center;
        top: 320px;
        left: 0px;
    }

    .hero-text-spiderman{
        text-align: center;
        top: 230px;
        left: 0px;
    }

    #thisMonth{
        background-image: url("https://gmedia.playstation.com/is/image/SIEPDC/this-month-on-playstation-aug-homepage-background-mobile-01-25jul22$en?$800px$") ;
        background-color: #252550;
        background-repeat: no-repeat;
        background-size: contain;
    }

    #thisMonth img{
        width: 320px!important;
        transition: 450ms;
    }

    #thisMonth2 .text{
        top: 60px;
    }

    #thisMonth2 h5{
        font-size: small;
    }

    #owl-comingSoon-oneMobile img,{
        width: 150px;
        height: 150px;
    }

    #playStationPlus{
        background-image: url("https://gmedia.playstation.com/is/image/SIEPDC/ps-plus-monthly-games-banner-mobile-02-en-27may22?$800px$");
        background-size: cover;
    }

    #swiper5 .item{
        width: 400px!important;
    }
}