@font-face {
    font-family: 'Montserrat', sans-serif;
    src:  url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,800;1,300;1,400;1,600;1,800&display=swap');
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.min-vh-90{
    min-height: 90vh!important;
}

.min-vh-60{
    min-height: 68vh!important;
}

.hero-text{
    top: 170px;
    left: 100px;
}

.hero-text-theLast{
    top: 135px;
    left: 100px;
}

.hero-text-spiderman{
    top: 65px;
    left: 100px;
}

.hero-text-godOfWar{
    top: 180px;
    left: 100px;
}

.hero-text-rollerdrome{
    top: 160px;
    left: 100px;
}

.hero-text-nfl{
    top: 210px;
    left: 100px;
}

.hero-slide-sm img{
    width: 200px;
    border-radius: 10px;
    transition: 350ms;
}

.hero-slide-sm img:hover{
    transform: translateY(-10px);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.second-slide-sm img{
    width: 190px;
    border-radius: 10px;
    transition: 350ms;
    object-fit: cover;
    object-position: center;
}

.second-slide-sm img:hover{
    transform: translateY(-10px);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
    border: 2px solid var(--bs-primary);
}

#thisMonth{
    background-image: url("https://gmedia.playstation.com/is/image/SIEPDC/this-month-on-playstation-aug-homepage-background-desktop-01-25jul22$en?$2400px$") ;
    background-color: #252550;
    background-repeat: no-repeat;
    background-size: contain;
}

#thisMonth img{
    width: 380px!important;
    transition: 450ms;
}

#thisMonth img:hover{
    transform: scale(1.03);
    box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 15px;
}

#thisMonth2{
    /*background-image: url("https://gmedia.playstation.com/is/image/SIEPDC/Stray-homepage-hero-desktop-en-01-05jul22?$2400px$") ;*/
    /*background-repeat: no-repeat;*/
    /*background-size: contain;*/
}

#owl-newReleases-one img{
    transition: 350ms ease;
}

#owl-newReleases-one img:hover{
    transform: scale(1.03);
}

#owl-newReleases-two img{
    transition: 350ms ease;
}

#owl-newReleases-two img:hover{
    transform: scale(1.03);
}

#playSectionPlus{
    background-image: url(https://gmedia.playstation.com/is/image/SIEPDC/ps-plus-monthly-games-banner-desktop-01-en-27may22?$2400px$);
    background-size: cover;
}

.psStoreImg{
    transition: 400ms ease;
}

.psStoreImg:hover img{
    transform: scale(1.025);
}

#playSectionGear{
    background-image: url("https://gmedia.playstation.com/is/image/SIEPDC/ps-gear-evergreen-background-block-desktop-01-en-27may22?$2400px$");
    background-size: cover;
}


