$theme-colors: (
        "primary"   :   #0070cc,
        "danger"    :   #d63d00,
        "light"     :   #ffffff,
        "dark"    :  #000,
);

$primary : #0070cc;
$danger  : #d63d00;
$light   : #ffffff;
$dark    : #000;



$font-family-sans-serif      : 'Montserrat', sans-serif;
$carousel-transition-duration:       .3s;



@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,800;1,300;1,400;1,600;1,800&display=swap');;

@import "../node_modules/bootstrap/scss/bootstrap";


